.button5 {
    border-radius: 50%;
}

.button5 {
    background-color: #000000;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

/*nav bar*/
.nav-link:hover {
    color: #c59d5f!important;
}

.login, .signup {
    margin-right: 5px;
}

/*Search Bar*/
.input-group>.form-control:focus {
    box-shadow: none;
}

.input-group>.form-control {
    margin-right: 5px;
}

.btn-outline-secondary {
    border-left: 1px solid #000;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
    color: #000;
    background-color: #f8f9fa;
}

.btn-outline-secondary:hover {
    color: #8a8a8a;
    background-color: #f8f9fa;
}

.btn-outline-secondary:focus {
    box-shadow: none;
}

 
.animate-fadeUp {
    animation: fadeUp 2s forwards;
    animation-delay: 0s;
}

.nav-item{
    padding: 0px 10px;
}

.link-text{
    color: black;
}

@media screen and (min-width: 900px) {
    .box {
        transition: 1s;
    }

    .box:hover {
        transform: scale(1.1);
    }

}

/*Animations*/
@keyframes fadeUp {
    0% {
        transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scale {
    0% {
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes grow {
    0% {
        width: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        opacity: 1;
        transform: rotate(-360deg);
    }
}

@keyframes fadeDown {
    0% {
        transform: translateY(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes up {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-1rem);
    }
}
