html{
    scroll-behavior: smooth;
}
.carousel-item{
    height: 400px;
} 
.carousel-item img{
    height: 400px;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: 50px;
    width: 100%;
    background-color:rgb(155, 155, 228);
    overflow: hidden;
   /* min-height: 20vh; */
    color: white;
}

footer strong {
    color: #000000;
}
footer a{
    color:white;
}
footer a:hover{
    color:#000;
}
.about{
    border-right: 1px solid #333;
}
::-webkit-scrollbar{
        width: 15px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: red;
}
::-webkit-scrollbar-thumb:hover {
    background: orange; 
  }
nav{
    background-color: rgb(155, 155, 228);
}
.navbar-brand :hover,
.nav-link:hover {
    color: #fff !important;
}
a{
    font-family: sans-serif;
}
@media screen and (max-width:750px){
    .about{
        border-bottom: 1px solid #333;
        margin-bottom: 2%;
        border-right: none;
    }
}