<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    {% load static %}
  <link rel="stylesheet" href="{% static 'seeker/listing/css/main.css' %}" />

    <title>Jobs</title>
</head>

<body>

    <!-- header starts -->
    <header class="main-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg main-nav px-0">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                    aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar icon-bar-1"></span>
                    <span class="icon-bar icon-bar-2"></span>
                    <span class="icon-bar icon-bar-3"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainMenu">
                    <ul class="navbar-nav ml-auto text-uppercase f1">
                        <li id="home">
                            <a href="home" class="active-first">Home</a>
                        </li>
                        <li>
                            <a href="jobs ">All Jobs</a>
                        </li>
                        <li>
                            <a href="about">About Us</a>
                        </li>
                        <li>
                            <a href="jobs">Interships</a>
                        </li>
                        <li>
                            <a href="#contact">Contact us</a>
                        </li>
                    </ul>
                    <div class="collapse navbar-collapse notify" id="navbarSupportedContent-5 mainMenu">

                        <ul class="navbar-nav ml-auto nav-flex-icons">
                            <li class="nav-item avatar dropdown">
                                <a class="nav-link dropdown-toggle waves-effect waves-light"
                                    id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">
                                    <span class="badge badge-danger ml-2">4</span>
                                    <i class="fa fa-bell-o"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                                    aria-labelledby="navbarDropdownMenuLink-5">
                                    <a class="dropdown-item waves-effect waves-light" href="#">Messages <span
                                            class="badge badge-danger ml-2">4</span></a>
                                    <a class="dropdown-item waves-effect waves-light" href="#">Saved Jobs <span
                                            class="badge badge-danger ml-2">1</span></a>
                                    <a class="dropdown-item waves-effect waves-light" href="#">Applied Jobs<span
                                            class="badge badge-danger ml-2">4</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="nav-item dropdown ml-auto profile">
                    <a class="dropdown-toggle dropbtn" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg"
                            width="40" height="40" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                        aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Dashboard</a>
                        <a class="dropdown-item" href="#">Edit Profile</a>
                        <a class="dropdown-item" href="#">Log Out</a>
                    </div>
                </div>
            </nav>
        </div>
        <!-- /.container -->

        <div class="banner"></div>
        <!-- search box -->
        <div class="search-job text-center">
            <input type="text" class="form-control" placeholder="Skills, Job Title, Designation">
            <input type="text" class="form-control" placeholder="Location">
            <input type="text" class="form-control" placeholder="Experience">
            <input type="button" class="btn btn-primary" value="Search">
        </div><br>
    </header>
    <section>
        <div class="row">
            <div class="col-lg-2 col-md-5 ">
                <div>
                    <div class="widget widget-one">
                        <h3 class="sb-title open" id="1" onclick="toggle_visibility(this.id)">Last Activity <svg
                                width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus asideicon"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                                <path fill-rule="evenodd"
                                    d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                            </svg> </h3>

                        <div class="specialism_widget">
                            <div class="simple-checkbox">
                                <p><input type="checkbox" name="smplechk" id="22"><label for="22">Last Hour</label></p>
                                <p><input type="checkbox" name="smplechk" id="23"><label for="23">Last 24 hours</label>
                                </p>
                                <p><input type="checkbox" name="smplechk" id="24"><label for="24">Last 7 days</label>
                                </p>
                                <p><input type="checkbox" name="smplechk" id="25"><label for="25">Last 14 days</label>
                                </p>
                                <p><input type="checkbox" name="smplechk" id="26"><label for="26">Last 30 days</label>
                                </p>
                                <p><input type="checkbox" name="smplechk" id="27"><label for="27">All</label></p>
                            </div>
                        </div>
                    </div>
                    <div class="widget">
                        <h3 class="sb-title open" id="2" onclick="toggle_visibility(this.id)">Specialism <svg
                                width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus asideicon"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                                <path fill-rule="evenodd"
                                    d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                            </svg></h3>
                        <div class="specialism_widget">
                            <div class="simple-checkbox scrollbar">
                                <p><input type="checkbox" name="spealism" id="as"><label for="as">Accountancy
                                        (2)</label></p>
                                <p><input type="checkbox" name="spealism" id="asd"><label for="asd">Banking (2)</label>
                                </p>
                                <p><input type="checkbox" name="spealism" id="errwe"><label for="errwe">Charity &
                                        Voluntary (3)</label></p>
                                <p><input type="checkbox" name="spealism" id="fdg"><label for="fdg">Digital & Creative
                                        (4)</label></p>
                                <p><input type="checkbox" name="spealism" id="sc"><label for="sc">Estate Agency
                                        (3)</label></p>
                                <p><input type="checkbox" name="spealism" id="aw"><label for="aw">Graduate (2)</label>
                                </p>
                                <p><input type="checkbox" name="spealism" id="ui"><label for="ui">IT Contractor
                                        (7)</label></p>
                                <p><input type="checkbox" name="spealism" id="saas"><label for="saas">Charity &
                                        Voluntary (3)</label></p>
                                <p><input type="checkbox" name="spealism" id="rrrt"><label for="rrrt">Digital & Creative
                                        (4)</label></p>
                                <p><input type="checkbox" name="spealism" id="eweew"><label for="eweew">Estate Agency
                                        (3)</label></p>
                                <p><input type="checkbox" name="spealism" id="bnbn"><label for="bnbn">Graduate
                                        (2)</label></p>
                                <p><input type="checkbox" name="spealism" id="ffd"><label for="ffd">IT Contractor
                                        (7)</label></p>
                            </div>
                        </div>
                    </div>

                    <div class="widget">
                        <h3 class="sb-title open" id="9" onclick="toggle_visibility(this.id)">Offerd Salary <svg
                                width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus asideicon"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                                <path fill-rule="evenodd"
                                    d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                            </svg></h3>
                        <div class="specialism_widget">
                            <div class="simple-checkbox">
                                <p><input type="checkbox" name="smplechk" id="1"><label for="1">10k - 20k</label></p>
                                <p><input type="checkbox" name="smplechk" id="2"><label for="2">20k - 30k</label></p>
                                <p><input type="checkbox" name="smplechk" id="3"><label for="3">30k - 40k</label></p>
                                <p><input type="checkbox" name="smplechk" id="4"><label for="4">40k - 50k</label></p>
                                <p><input type="checkbox" name="smplechk" id="28"><label for="5">50k - 60k</label></p>
                                <p><input type="checkbox" name="smplechk" id="29"><label for="6">60k - 70k</label></p>
                            </div>
                        </div>
                    </div>
                    <div class="widget">
                        <h3 class="sb-title open" id="10" onclick="toggle_visibility(this.id)">Career Level <svg
                                width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus asideicon"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                                <path fill-rule="evenodd"
                                    d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                            </svg></h3>
                        <div class="specialism_widget">
                            <div class="simple-checkbox">
                                <p><input type="checkbox" name="smplechk" id="5"><label for="7">Intermediate</label></p>
                                <p><input type="checkbox" name="smplechk" id="6"><label for="8">Normal</label></p>
                                <p><input type="checkbox" name="smplechk" id="7"><label for="9">Special</label></p>
                                <p><input type="checkbox" name="smplechk" id="8"><label for="10">Experienced</label></p>
                            </div>
                        </div>
                    </div>
                    <div class="widget">
                        <h3 class="sb-title open" id="11" onclick="toggle_visibility(this.id)">Experince <svg
                                width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus asideicon"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                                <path fill-rule="evenodd"
                                    d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                            </svg></h3>
                        <div class="specialism_widget">
                            <div class="simple-checkbox">
                                <p><input type="checkbox" name="smplechk" id="9"><label for="11">1Year to 2Year</label>
                                </p>
                                <p><input type="checkbox" name="smplechk" id="10"><label for="12">2Year to 3Year</label>
                                </p>
                                <p><input type="checkbox" name="smplechk" id="11"><label for="13">3Year to 4Year</label>
                                </p>
                                <p><input type="checkbox" name="smplechk" id="12"><label for="14">4Year to 5Year</label>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="widget">
                        <h3 class="sb-title open" id="15" onclick="toggle_visibility(this.id)">Gender <svg width="1em"
                                height="1em" viewBox="0 0 16 16" class="bi bi-plus asideicon" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                                <path fill-rule="evenodd"
                                    d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                            </svg></h3>
                        <div class="specialism_widget">
                            <div class="simple-checkbox">
                                <p><input type="checkbox" name="smplechk" id="13"><label for="15">Male</label></p>
                                <p><input type="checkbox" name="smplechk" id="14"><label for="16">Female</label></p>
                                <p><input type="checkbox" name="smplechk" id="15"><label for="17">Others</label></p>
                            </div>
                        </div>
                    </div>
                    </aside>
                </div>
            </div>
            <div class="col-lg-5 col-md-7">
                <p>12 jobs out of <span>200</span> devloper jobs</p>
                <div class="company-details">
                    <div class="job-update">
                        <h4><strong class="post"> Senior Python Devloper </strong>
                            <i class="fa fa-heart-o bookmark">
                                <p>
                                    Save Job</p>
                            </i>
                        </h4>
                        <h6 class="company-name">XYZ private limited 1</h6>
                        <i class="fa fa-briefcase"></i><span class="experience"> 5-9</span> years<br>
                        <i class="fa fa-inr"></i><span class="salary"> 5.50 - 9.00</span> Lacs P.A<br>
                        <i class="fa fa-map-marker"></i><span class="location"> Delhi</span>
                        <p><strong>Skills</strong> <i class="fa fa-angle-double-right"></i><small> Java</small><small>
                                Web
                                scrapping</small><small>
                                Django</small><small> Flask</small></p>
                        <p class="description"><strong>Description</strong> <i
                                class="fa fa-angle-double-right"></i><span class="job-listing-description"> para 1
                                Works independently under limited supervision and applies knowledge of subject matter in
                                Applications Development. Attains product and engineering compliance by preventing
                                compliance issues; developing and executing compliance
                                programs; completing documentation. <a href="#"> Read More</a></span></p>
                    </div>
                    <div class="apply-btn">
                        <button type="button" class="btn btn-primary" target="_blank">Apply</button>
                    </div>
                </div>
                <div class="company-details">
                    <div class="job-update">
                        <h4><strong class="post"> junior Python Devloper  </strong>
                            <i class="fa fa-heart-o bookmark">
                                <p>
                                    Save Job</p>
                            </i></h4>
                        <h6 class="company-name">XYZ private limited 2</h6>
                        <i class="fa fa-briefcase"></i><span class="experience"> 1-3</span> years<br>
                        <i class="fa fa-inr"></i><span class="salary"> 5.50 - 8.00</span> Lacs P.A<br>
                        <i class="fa fa-map-marker"></i><span class="location"> Mumbai</span>
                        <p><strong>Skills</strong> <i class="fa fa-angle-double-right"></i><small> Java</small><small>
                                Web
                                scrapping</small><small>
                                Django</small><small> Flask</small></p>
                        <p class="description"><strong>Description</strong> <i
                                class="fa fa-angle-double-right"></i><span class="job-listing-description"> para 2
                                Works independently under limited supervision and applies knowledge of subject matter in
                                Applications Development. Attains product and engineering compliance by preventing
                                compliance issues; developing
                                and executing compliance
                                programs; completing documentation. <a href="#"> Read More</a></span></p>
                    </div>
                    <div class="apply-btn">
                        <button type="button" class="btn btn-primary" target="_blank">Apply</button>
                    </div>
                </div>
                <div class="company-details">
                    <div class="job-update">
                        <h4><strong class="post"> Senior Python Devloper 2 </strong>
                            <i class="fa fa-heart-o bookmark">
                                <p>
                                    Save Job</p>
                            </i></h4>
                        <h6 class="company-name">XYZ private limited 3</h6>
                        <i class="fa fa-briefcase"></i><span class="experience"> 4-9</span> years<br>
                        <i class="fa fa-inr"></i><span class="salary"> 3.50 - 6.00</span> Lacs P.A<br>
                        <i class="fa fa-map-marker"></i><span class="location"> Kolkata</span>
                        <p><strong>Skills</strong> <i class="fa fa-angle-double-right"></i><small> Java</small><small>
                                Web
                                scrapping</small><small>
                                Django</small><small> Flask</small></p>
                        <p class="description"><strong>Description</strong> <i
                                class="fa fa-angle-double-right"></i><span class="job-listing-description"> para 3
                                Works independently under limited supervision and applies knowledge of subject matter in
                                Applications Development. Attains product and engineering compliance by preventing
                                compliance issues; developing
                                and executing compliance
                                programs; completing documentation.</span></p>
                    </div>
                    <div class="apply-btn">
                        <button type="button" class="btn btn-primary" target="_blank">Apply</button>
                    </div>
                </div>
                <div class="company-details">
                    <div class="job-update">
                        <h4><strong class="post"> Senior Python Devloper 3 </strong>
                            <i class="fa fa-heart-o bookmark">
                                <p>
                                    Save Job</p>
                            </i></h4>
                        <h6 class="company-name">XYZ private limited 4</h6>
                        <i class="fa fa-briefcase"></i><span class="experience"> 8-9</span> years<br>
                        <i class="fa fa-inr"></i><span class="salary"> 5.50 - 6.00</span> Lacs P.A<br>
                        <i class="fa fa-map-marker"></i><span class="location"> Chennai</span>
                        <p><strong>Skills</strong> <i class="fa fa-angle-double-right"></i><small> Java</small><small>
                                Web
                                scrapping</small><small>
                                Django</small><small> Flask</small></p>
                        <p class="description"><strong>Description</strong> <i
                                class="fa fa-angle-double-right"></i><span class="job-listing-description"> para 4
                                Works independently under limited supervision and applies knowledge of subject matter in
                                Applications Development. Attains product and engineering compliance by preventing
                                compliance issues; developing
                                and executing compliance
                                programs; completing documentation. </span></p>
                    </div>
                    <div class="apply-btn">
                        <button type="button" class="btn btn-primary" target="_blank">Apply</button>
                    </div>
                </div>
                <div class="company-details">
                    <div class="job-update">
                        <h4><strong class="post"> Senior Python Devloper 4 </strong>
                            <i class="fa fa-heart-o bookmark">
                                <p>
                                    Save Job</p>
                            </i></h4>
                        <h6 class="company-name">XYZ private limited 5</h6>
                        <i class="fa fa-briefcase"></i><span class="experience"> 3-7</span> years<br>
                        <i class="fa fa-inr"></i><span class="salary"> 5.00 - 8.00 </span> Lacs P.A<br>
                        <i class="fa fa-map-marker"></i><span class="location"> Pune</span>
                        <p><strong>Skills</strong> <i class="fa fa-angle-double-right"></i><small> Java</small><small>
                                Web
                                scrapping</small><small>
                                Django</small><small> Flask</small></p>
                        <p class="description"><strong>Description</strong> <i
                                class="fa fa-angle-double-right"></i><span class="job-listing-description"> para 5
                                Works independently under limited supervision and applies knowledge of subject matter in
                                Applications Development. Attains product and engineering compliance by preventing
                                compliance issues; developing
                                and executing compliance
                                programs; completing documentation.</span></p>
                    </div>
                    <div class="apply-btn">
                        <button type="button" class="btn btn-primary" target="_blank">Apply</button>
                    </div>
                </div>
                <div class="company-details">
                    <div class="job-update">
                        <h4><strong class="post"> Senior Python Devloper 5</strong>
                            <i class="fa fa-heart-o bookmark">
                                <p>
                                    Save Job</p>
                            </i></h4>
                        <h6 class="company-name">XYZ private limited 6</h6>
                        <i class="fa fa-briefcase"></i><span class="experience"> 0-6</span> years<br>
                        <i class="fa fa-inr"></i><span class="salary"> 5.00 - 6.00</span> Lacs P.A<br>
                        <i class="fa fa-map-marker"></i><span class="location"> Punjab</span>
                        <p><strong>Skills</strong> <i class="fa fa-angle-double-right"></i><small> Java</small><small>
                                Web
                                scrapping</small><small>
                                Django</small><small> Flask</small></p>
                        <p class="description"><strong>Description</strong> <i
                                class="fa fa-angle-double-right"></i><span class="job-listing-description"> para 6
                                Works independently under limited supervision and applies knowledge of subject matter in
                                Applications Development. Attains product and engineering compliance by preventing
                                compliance issues; developing
                                and executing compliance
                                programs; completing documentation. </span></p>
                    </div>
                    <div class="apply-btn">
                        <button type="button" class="btn btn-primary" target="_blank">Apply</button>
                    </div>
                </div>
                <ul class="pagelink text-center">
                    <li class="right-arrow">&#8592;</li>
                    <li class="active">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li class="right-arrow">&#8594;</li>
                </ul>
            </div>

            <div class="col-lg-5 d-none d-lg-block " id="clicked-job">
                <div class="container">
                    <div id="heading">
                        <div>
                            <h1>Company Name</h1>

                            <p><i class="fa fa-map-marker"></i> Location
                                <span id="side-location">chennai, Tamilnadu</span>

                            </p>
                            <button class="apply">Apply now</button>
                        </div>
                    </div>
                    <div class="details">
                        <div id="summary">
                            <p>Job Details</p>
                        </div>
                        <div class="job-detail icons">
                            <i class="fa fa-user"></i><span
                                id="side-post">Devloper</span><br>
                            <i class="fa fa-calendar side-fa-calendar"></i> Posted on<span
                                id="side-date-posted">10/7/2020</span><br>
                            <i class="fa fa-clock-o"></i><span id="side-jobtype"> Fulltime</span><br>
                            <i class="fa fa-briefcase"></i><span id="side-experience">0-1</span> years<br>
                            <i class="fa fa-inr side-fa-inr"></i><span class="price" id="side-salary"> 4.00 -
                                5.00</span> Lacs P.A<br>
                        </div>
                        <div id="job-details">
                            <p>Job description</p>
                            <p id="side-description">.</p>
                            <p>Visit us at<a href="" id="site-name"> www.companyname.com</a> 🚀</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>










    <!-- Footer -->
    <footer class="page-footer font-small blue-grey lighten-5 ">

        <!-- Footer Links -->
        <div class="container text-center text-md-left pt-5 ">

            <!-- Grid row -->
            <div class="row mt-3 dark-grey-text ">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4 ">



                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold text-light ">Information</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto " style="width: 60px; ">
                    <p>
                        <a class="dark-grey-text " href="#! ">About Us</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">Contact Us</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">Terms Of Use</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">FAQs</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 ">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold text-light ">Job seekers</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto " style="width: 60px; ">
                    <p>
                        <a class="dark-grey-text " href="#! ">Job Search</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">Career Advices</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">Resume Builder</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">Report a Problem</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 ">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold text-light ">Employers</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto " style="width: 60px; ">
                    <p>
                        <a class="dark-grey-text " href="#! ">Job Posting</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">Advertise With Us</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">Access Resumes</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">FAQs</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 ">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold text-light ">Stay Connected</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto " style="width: 60px; ">

                    <!-- Facebook -->
                    <p>
                        <a class="fb-ic ">
                            <i class="fa fa-facebook-official white-text mr-4 text-light "><span
                                    class="icon_name ">Facebook</span></i>
                        </a>
                    </p>
                    <!-- Twitter -->
                    <p>
                        <a class="tw-ic ">
                            <i class="fa fa-twitter white-text mr-4 text-light "><span
                                    class="icon_name ">Twitter</span></i>
                        </a>
                    </p>
                    <!--Linkedin -->
                    <p>
                        <a class="li-ic ">
                            <i class="fa fa-linkedin white-text mr-4 text-light "><span
                                    class="icon_name ">Linkedin</span></i>
                        </a>
                    </p>
                    <!--Instagram-->
                    <p></p>
                    <a class="ins-ic ">
                        <i class="fa fa-instagram white-text text-light "><span class="icon_name ">Instagram </span></i>
                    </a>
                    </p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center text-black-50 py-3 text-light ">
            <a class="dark-grey-text " href="# ">@Build With Let's Upgrade</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'seeker/listing/js/main.js'%}"></script>

</body>

</html>