<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, 
    maximum-scale=1.0, user-scalable=no" />


    <!-- Bootstrap and regular CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static 'general/about/main.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About Us</title>
</head>

<body>
  <!--Nav Bar Starts Here-->
  <header class="main-header">
    <div class="container">
      <nav class="navbar navbar-expand-lg main-nav px-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
          aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar icon-bar-1"></span>
          <span class="icon-bar icon-bar-2"></span>
          <span class="icon-bar icon-bar-3"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
          <ul class="navbar-nav ml-auto text-uppercase f1">
            <li>
              <a href="index" >Home</a>
            </li>
            <li>
              <a href="about" class=" active-first active">About Us</a>
            <li>
              <a href="team">Team</a>
            </li>
            <li>
              <a href="index">Services</a>
            </li>
            <li>
              <a href="index">Contact Us</a>
            </li>
          </ul>
          <div class="nav-item dropdown ml-auto">
          </div>
          <div class="btn-group">
            <ul>
              <li>
                <a type="button" class="btns btns-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Sign Up
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="seeker">Resister as Job Seeker</a>
                  <a class="dropdown-item" href="recruiter">Resister as Recruiter</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
    </div>
    </nav>
    </div>
  </header>
  <!-- End -->
  <section class="mt-5">
    <div class="container">
    <h2 class="text-center mb-3">Our vision</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores omnis provident aut architecto eos dolorem quae possimus accusamus quam. Adipisci nisi voluptates similique impedit! Laboriosam autem odit debitis? Recusandae, molestiae.
    Sequi tempora itaque aperiam quas laudantium maiores amet incidunt error eum provident temporibus libero ad obcaecati rerum natus commodi assumenda, illo exercitationem nesciunt placeat sit sed suscipit iste! Consequuntur, illo?
    Quos tempora, ratione, dolorem voluptates illum aspernatur at minima laborum labore hic dolore, enim nulla? Maxime quibusdam quidem voluptate porro doloribus facere placeat non delectus consequuntur. Facilis illum neque nemo.
    Maiores fugit, omnis optio, est doloremque inventore sint eveniet quasi et earum voluptas. Animi debitis provident, corrupti amet rerum necessitatibus cum beatae eius ipsum voluptate quas odit? Illo, deleniti quod?
    Ullam officia iusto debitis laborum, ducimus repudiandae ratione amet officiis impedit eaque totam natus dolores voluptatem distinctio, exercitationem consectetur quam nemo deserunt minima reiciendis mollitia perferendis ea enim! Qui, quasi!
    Corrupti deleniti nulla doloremque eligendi accusamus numquam omnis ut minus expedita quibusdam quo ullam quos, possimus impedit cum error dignissimos quisquam. Dolore odio perferendis culpa ad impedit architecto eius minus.
    Accusamus, magnam optio libero illo assumenda neque. Minus exercitationem cum animi repudiandae! Quasi explicabo quis aut dolores fugit odio numquam? Iure, illum nostrum. A, quasi nesciunt. Numquam esse eos reprehenderit.
    Corrupti, repellendus omnis, suscipit quasi voluptatibus temporibus cumque in beatae repellat eum ab. Minus ex recusandae, voluptatem dolor ab ratione reiciendis nobis officia quas eius eaque. Velit dignissimos praesentium nihil.
    </p>
    </div>
    </section>
    <section class="mt-5 mb-5">
    <div class="container">
        <h2 class="text-center mb-3">Who we are?</h2>
        <p>>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores omnis provident aut architecto eos dolorem quae possimus accusamus quam. Adipisci nisi voluptates similique impedit! Laboriosam autem odit debitis? Recusandae, molestiae.
            Sequi tempora itaque aperiam quas laudantium maiores amet incidunt error eum provident temporibus libero ad obcaecati rerum natus commodi assumenda, illo exercitationem nesciunt placeat sit sed suscipit iste! Consequuntur, illo?
            Quos tempora, ratione, dolorem voluptates illum aspernatur at minima laborum labore hic dolore, enim nulla? Maxime quibusdam quidem voluptate porro doloribus facere placeat non delectus consequuntur. Facilis illum neque nemo.
            Maiores fugit, omnis optio, est doloremque inventore sint eveniet quasi et earum voluptas. Animi debitis provident, corrupti amet rerum necessitatibus cum beatae eius ipsum voluptate quas odit? Illo, deleniti quod?
            Ullam officia iusto debitis laborum, ducimus repudiandae ratione amet officiis impedit eaque totam natus dolores voluptatem distinctio, exercitationem consectetur quam nemo deserunt minima reiciendis mollitia perferendis ea enim! Qui, quasi!
            Corrupti deleniti nulla doloremque eligendi accusamus numquam omnis ut minus expedita quibusdam quo ullam quos, possimus impedit cum error dignissimos quisquam. Dolore odio perferendis culpa ad impedit architecto eius minus.
            Accusamus, magnam optio libero illo assumenda neque. Minus exercitationem cum animi repudiandae! Quasi explicabo quis aut dolores fugit odio numquam? Iure, illum nostrum. A, quasi nesciunt. Numquam esse eos reprehenderit.
            Corrupti, repellendus omnis, suscipit quasi voluptatibus temporibus cumque in beatae repellat eum ab. Minus ex recusandae, voluptatem dolor ab ratione reiciendis nobis officia quas eius eaque. Velit dignissimos praesentium nihil.
            </p>
    </div>
    </section>
    
    

    <!-- Footer -->
    <footer class="page-footer font-small blue-grey lighten-5 ">

        <!-- Footer Links -->
        <div class="container text-center text-md-left pt-5 ">

            <!-- Grid row -->
            <div class="row mt-3 dark-grey-text ">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4 ">



                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold text-light ">Information</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto " style="width: 60px; ">
                    <p>
                        <a class="dark-grey-text " href="#! ">About Us</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">Contact Us</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">Terms Of Use</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">FAQs</a>
                    </p>

                </div>
                <!-- Grid column -->




                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 ">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold text-light ">Job seekers</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto " style="width: 60px; ">
                    <p>
                        <a class="dark-grey-text " href="#! ">Job Search</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">Career Advices</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">Resume Builder</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">Report a Problem</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 ">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold text-light ">Employers</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto " style="width: 60px; ">
                    <p>
                        <a class="dark-grey-text " href="#! ">Job Posting</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">Advertise With Us</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">Access Resumes</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">FAQs</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 ">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold text-light ">Stay Connected</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto " style="width: 60px; ">

                    <!-- Facebook -->
                    <p>
                        <a class="fb-ic ">
                            <i class="fa fa-facebook-official white-text mr-4 text-light "><span
                                    class="icon_name ">Facebook</span></i>
                        </a>
                    </p>
                    <!-- Twitter -->
                    <p>
                        <a class="tw-ic ">
                            <i class="fa fa-twitter white-text mr-4 text-light "><span
                                    class="icon_name ">Twitter</span></i>
                        </a>
                    </p>
                    <!--Linkedin -->
                    <p>
                        <a class="li-ic ">
                            <i class="fa fa-linkedin white-text mr-4 text-light "><span
                                    class="icon_name ">Linkedin</span></i>
                        </a>
                    </p>
                    <!--Instagram-->
                    <p></p>
                    <a class="ins-ic ">
                        <i class="fa fa-instagram white-text text-light "><span class="icon_name ">Instagram </span></i>
                    </a>
                    </p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center text-black-50 py-3 text-light ">
            <a class="dark-grey-text " href="# ">@Build With Let's Upgrade</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
        crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js "
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js "
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV "
        crossorigin="anonymous "></script>
</body>

</html>