/* For dark mode just replace the class name with your div element's class name in the code snippet given below
  Use this code snippet to edit:

  [data-theme="dark"] .class-name {
  background-color: #333;
}


*/

[data-theme="dark"] {
  background-color: #414141 !important;
  color: #eee;
}

[data-theme="dark"] .nav-link, [data-theme="dark"] .navbar-brand{
  color: white !important;
}


[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #414141 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .jumbotron {
  background-color: #111;
}

[data-theme="dark"] .card-header{
  background-color: #111;
}
[data-theme="dark"] .card-footer {
  background-color: #111;
}
[data-theme="dark"] .card-body{
  background-color: #414141;
}

[data-theme="dark"] .link-text{
  color: white;
}

[data-theme="dark"] .nav-item:hover{
    background-color: #525252;
}