html{
    
}
*{
    margin:0px;
    padding:0px;
  
    
}
body{
    min-width:100%;
    min-height: 100%;
}
/*.head{
    
    color:#FFFFFF;
    width:100vw;
    padding:0px;
    margin:0px;
    height:10vh;
}
.head li,input,i,button{
    color: #00CCFF;
    display:inline-block;
    margin:2%;
    float:right;
    cursor:pointer;
    
}
.head li{font-size:1.2em;
 

}
.head li:hover{font-size:1.2em;
border-bottom:1px solid grey;  
padding:0.4%;  
color:grey;
}
#search{
    color: pink;
    text-align: center;
    margin:0px;
    padding:0px;
}
#button{

    height:50%;
    width:5vw;
    margin:2%;
  margin-left:2%;
  padding:0%;
    position:relative;
    bottom:10%;
    border:#00ff00;
 background:#00FF00;
 border-radius:10%;
 color:#ffffff;


}
.head button:hover{

    
 

}


.head input{
    height:50%;
    width:30%;
    margin:2%;
    margin-right:0%;
    padding:0%;
    vertical-align: center;
    

 
    

}
.head i{

    font-size:25px;
    padding:0.5%,0.2%,0%,0.5%;
    
    margin:0.7%,0.7%,0%,0.7%;
    cursor:pointer;
    color:#00CCFF;
}
.head i:focus{
  color:#00CCFF;
}*/



  .container2{
   
      position:absolute;
    width:25vw;
    height:70vh;
    top:65%;
    left:30%;
    margin:0%;
    padding:0%;
    transform: translate(-50%,-50%);
    text-align: center;

    overflow: hidden;
    
  
  }
  .head i:focus{
    color:grey;
  }
  
  .head i:hover{
  color:grey;
}

  .he1{
     
      color:#00CCFF;
      padding:2%;
  }
  #p1{
      font-size:1.3em;
      padding-top: 10%;
   
      
  }
  
  .wrapper{
    overflow:hidden;
   text-align:center;
   
   padding-left:0%;
   margin-left:0%;
   
position:absolute;
 width:25vw;
 height:50vh;
 top:50%;
 left:70%;

 transform: translate(-50%,-50%);
 text-align: center;

 
 box-shadow: 0px 0px 10px  gray;
 border-color: #00CCFF;

}
.con{
 display:flex;
 flex-direction:column;
 flex-wrap: wrap;
text-align: center;
justify-content:center;
padding-top: 10%;
}
 
.he{
   background:#00CCFF;
   color:#FFFFFF;
   padding:5%;
}
.l{
   font-size:2em;
   color:#00CCFF;
}
.k{
    background:white;
   font-size:1.5em;
   width:10em;
   margin:0.5em auto;
   border:none;
color:lightslategray;
   border-bottom:1px solid #00CCFF;
   cursor: pointer;
}
.k:hover{
    border-bottom:1px solid black;
    cursor: pointer;
}
.k:focus{
    border-bottom:1px solid black;
    cursor: pointer;
}
.btn{
   height:2em;
   width:10em;

   font-size:1em;
   border-color: #00CCFF;
   border-radius:60%;
   color:#00ccff;
   margin:1em auto;
cursor: pointer;
   
}
.btn:hover{
    height:2em;
    width:10em;
    background: #00ccff;
    font-size:1em;
    border-color: #00CCFF;
    border-radius:60%;
    color:white;
    margin:1em auto;
 cursor: pointer;
    
 }
#foot{
    background:grey;
    color:white;
    position:absolute;
    width:100vw;
    height:20vh;
    top:90%;
    display:inline-flex;
    list-style:none;
    text-align:center;
    align-items: center;
    justify-content: center;
    
}
#div1{
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
    margin:5%;
    

    
}
#div2{
    

    width:20vw;
 
      
  }
#ls{
    font-size: 1.5em;
 padding-left: 30%;
}
 #ic{
     font-size: 3em;
     margin:5%;
 }
 .lis{
     font-size:1.5em;
 }

 @media screen and (max-device-width:767px)
{
    html{
    font-size:11px;
    }
    *{
        margin:0px;
        padding:0px;
      
        
    }
    
      .container2{
       
          position:absolute;
        width:25vw;
        height:50vh;
        top:50%;
        left:30%;
        margin:0%;
        padding:0%;
        transform: translate(-50%,-50%);
        text-align: center;
    
        overflow: hidden;
        
      
      }
      .head i:focus{
        color:grey;
      }
      
      .head i:hover{
      color:grey;
    }
    
      .he1{
         
          color:#00CCFF;
          padding:2%;
      }
      #p1{
          font-size:1.3em;
          padding-top: 20%;
       
          
      }
      
      .wrapper{
        overflow:hidden;
       text-align:center;
       
       padding-left:0%;
       margin-left:0%;
       
    position:absolute;
     width:25vw;
     height:50vh;
     top:50%;
     left:70%;
    
     transform: translate(-50%,-50%);
     text-align: center;
    
     
     box-shadow: 0px 0px 10px  gray;
     border-color: #00CCFF;
    
    }
    .con{
     display:flex;
     flex-direction:column;
     flex-wrap: wrap;
    text-align: center;
    justify-content:center;
    padding-top: 10%;
    }
     
    .he{
       background:#00CCFF;
       color:#FFFFFF;
       padding:5%;
    }
    .l{
       font-size:2em;
       color:#00CCFF;
    }
    .k{
       font-size:1.5em;
       width:10em;
       margin:0.5em auto;
       border:none;
    color:lightslategray;
       border-bottom:1px solid #00CCFF;
       
    }
    .k:hover{
        border-bottom:1px solid black;
    }
    .k:focus{
        border-bottom:1px solid black;
    }
    .btn{
       height:2em;
       width:10em;
    
       font-size:1em;
       border-color: #00CCFF;
       border-radius:60%;
       color:#00ccff;
       margin:1em auto;
       cursor: pointer;
       
    }
    .btn:hover{
        height:2em;
        width:10em;
        background: #00ccff;
        font-size:1em;
        border-color: #00CCFF;
        border-radius:60%;
        color:white;
        margin:1em auto;
     cursor: pointer;
        
     }
    #foot{
        background:grey;
        color:white;
        position:absolute;
        width:100vw;
        height:20vh;
        top:90%;
        display:inline-flex;
        list-style:none;
        text-align:center;
        align-items: center;
        justify-content: center;
        
    }
    #div1{
      text-align: center;
      justify-content: center;
      align-items: center;
      align-content: center;
        margin:5%;
        
    
        
    }
    #div2{
        
    
        width:20vw;
     
          
      }
    #ls{
        font-size: 1.5em;
     padding-left: 30%;
    }
     #ic{
         font-size: 3em;
         margin:5%;
     }
     .lis{
         font-size:1.5em;
     }
    
}
@media screen and (max-height:552px) and  (min-width:767px){

    html{
        font-size:13px;
    }
    .container2{
       
        position:absolute;
      width:25vw;
      height:50vh;
      top:50%;
      left:30%;
      margin:0%;
      padding:0%;
      transform: translate(-50%,-50%);
      text-align: center;
  
      overflow: hidden;
      
    
    }
    
    .wrapper{
        overflow:hidden;
       text-align:center;
       
       padding-left:0%;
       margin-left:0%;
       
    position:absolute;
     width:25vw;
     height:50vh;
     top:50%;
     left:70%;
    
     transform: translate(-50%,-50%);
     text-align: center;
    
     
     box-shadow: 0px 0px 10px  gray;
     border-color: #00CCFF;
    
    }
    .con{
     display:flex;
     flex-direction:column;
     flex-wrap: wrap;
    text-align: center;
    justify-content:center;
    padding-top: 10%;
    }
     
    .he{
       background:#00CCFF;
       color:#FFFFFF;
       padding:5%;
    }
    .l{
       font-size:2em;
       color:#00CCFF;
    }
    .k{
       font-size:1.5em;
       width:10em;
       margin:0.5em auto;
       border:none;
    color:lightslategray;
       border-bottom:1px solid #00CCFF;
       
    }
    .k:hover{
        border-bottom:1px solid black;
    }
    .k:focus{
        border-bottom:1px solid black;
    }
    .btn{
       height:2em;
       width:10em;
    
       font-size:1em;
       border-color: #00CCFF;
       border-radius:60%;
       color:#00ccff;
       margin:1em auto;
    
       
    }
    .btn:hover{
        height:2em;
        width:10em;
        background: #00ccff;
        font-size:1em;
        border-color: #00CCFF;
        border-radius:60%;
        color:white;
        margin:1em auto;
     
        
     }
}

@media screen and (max-height:570px) and  (max-width:552px){

    html{
        font-size:9px;
    }
    .container2{
       
        position:absolute;
      width:25vw;
      height:50vh;
      top:50%;
      left:50%;
      margin:0%;
      padding:0%;
      transform: translate(-50%,-50%);
      text-align: center;
  
      overflow: hidden;
      
    
    }
    
    .wrapper{
        
       text-align:center;
       
       padding-left:0%;
       margin-left:0%;
       
    position:absolute;
     width:25vw;
     height:30vh;
     top:100%;
     left:50%;
    
     transform: translate(-50%,-50%);
     text-align: center;
     padding-bottom: 10%;
    
     
     box-shadow: 0px 0px 10px  gray;
     border-color: #00CCFF;
    
    }
    .con{
     display:flex;
     flex-direction:column;
     flex-wrap: wrap;
    text-align: center;
    justify-content:center;
    padding-top: 10%;
    }
     
    .he{
       background:#00CCFF;
       color:#FFFFFF;
       padding:5%;
    }
    .l{
       font-size:2em;
       color:#00CCFF;
    }
    .k{
       font-size:1.5em;
       width:5em;
       margin:0.5em auto;
       border:none;
    color:lightslategray;
       border-bottom:1px solid #00CCFF;
       
    }
    .k:hover{
        border-bottom:1px solid black;
    }
    .k:focus{
        border-bottom:1px solid black;
    }
    .btn{
       height:2em;
       width:10em;
    
       font-size:1em;
       border-color: #00CCFF;
       border-radius:60%;
       color:#00ccff;
       margin:1em auto;
    
       
    }
    .btn:hover{
        height:2em;
        width:10em;
        background: #00ccff;
        font-size:1em;
        border-color: #00CCFF;
        border-radius:60%;
        color:white;
        margin:1em auto;
     
        
     }
}
@media screen and (max-height:526px) and (max-width:246px)
{
    
    html{
        font-size:5px;
    }
    .container2{
       
        position:absolute;
      width:30vw;
      height:50vh;
      top:50%;
      left:50%;
      margin:0%;
      padding:0%;
      transform: translate(-50%,-50%);
      text-align: center;
  
      overflow: hidden;
      
    
    }
    
    .wrapper{
        
       text-align:center;
       
       padding-left:0%;
       margin-left:0%;
       
    position:absolute;
     width:25vw;
     height:30vh;
     top:100%;
     left:50%;
    
     transform: translate(-50%,-50%);
     text-align: center;
     padding-bottom: 10%;
    
     
     box-shadow: 0px 0px 10px  gray;
     border-color: #00CCFF;
    
    }
    .con{
     display:flex;
     flex-direction:column;
     flex-wrap: wrap;
    text-align: center;
    justify-content:center;
    padding-top: 10%;
    }
     
    .he{
       background:#00CCFF;
       color:#FFFFFF;
       padding:5%;
    }
    .l{
       font-size:2em;
       color:#00CCFF;
    }
    .k{
       font-size:1em;
       width:5em;
       margin:0.5em auto;
       border:none;
    color:lightslategray;
       border-bottom:1px solid #00CCFF;
       
    }
    .k:hover{
        border-bottom:1px solid black;
    }
    .k:focus{
        border-bottom:1px solid black;
    }
    .btn{
       height:1em;
       width:5em;
    
       font-size:0.5em;
       border-color: #00CCFF;
       border-radius:60%;
       color:#00ccff;
       margin:1em auto;
    
       
    }
    .btn:hover{
        height:2em;
        width:10em;
        background: #00ccff;
        font-size:1em;
        border-color: #00CCFF;
        border-radius:60%;
        color:white;
        margin:1em auto;
     
        
     }
}
