body{
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
}

/*Navbar*/

.nav-item{
    padding: 0rem 0.625rem;
}
.link-text{
    color: black;
}

/* Heading Section */

.container{
    margin: 0 auto;
}
.heading{
    margin-top: 5rem;
    font-family: 'Bitter', serif;
    text-align: center;
    animation: heading 1s 1;
}
.document-pic{
    position: absolute;
    animation: table 1s 1;
}

/* Table Section */

.table-section{
    background-color: white;
     position: relative;
     top:8.5rem;
     z-index: 1;
     animation: table 1s 1;
}

.table-center{
    margin: 0 3.125rem 0 3.125rem;
}
.heading-text{
    color: white;
    text-align: center;
}
.table-text{
    text-align: center;
}

/*Card Section*/

.mobile{
    display: none;
}

/* Footer Section */

.footer{
    margin-top: 12.5rem;
}

/*Scroll bar*/

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.3125rem grey; 
    border-radius: 0.9375rem;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:black; 
    border-radius: 32%;
  }

/* Responsive part For Small Screen */

@media screen and (max-width:825px) {

    /*Heading for Mobile*/

    .heading{
        margin-top: 5rem;
        font-family: 'Bitter', serif;
        text-align: center;
        animation: heading 1s 1;
    }
    .document-pic{
        position: relative;
        width:100%;
        margin-bottom: 1.875rem;
    }

    /*Card For Mobile View*/

    .mobile{
        display: block;
    }
    .mobile-heading{
        font-weight: 900;
    }
    b{
        font-weight: 600;
    }
    td{
        font-size: 1rem;
    }
    .card{
        margin: 0.625rem auto;
        width:70%;
        animation: heading 1s 1;
    }
    .white{
        color:white;
    }

   /*Hidden Table */

   .Table{
    display: none;
    }

    /*Footer Section*/

    .footer{
   margin-top: 3.125rem;
    }
    /*Scroll bar*/

/* width */
::-webkit-scrollbar {
    display: none;
  }
}


/* Animations */

@keyframes heading{
0%{
    opacity: 0;
    margin-right: 6.25rem;
}
100%{
    opacity: 1;
}
}

@keyframes table{
    0%{
        margin-top: 12.5rem;
    }
    
}


  
  