<!--  To modify anything for dark mode - Go to dark-mode folder and then edit the dark-mode.css file--> 
<!-- I have used the combination of **class = "jumbotron" ** and **class="jumbotron bg-white"** 
  to have the constrast between two sections -->


<html>
    <head>
        <title>ONLINE JOB PORTAL</title>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta property="og:url" content="https://coliff.github.io/dark-mode-switch/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="dark-mode/dark-mode.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <script src="https://use.fontawesome.com/364abdde15.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/home.css" />
    </head>


<body>
  <!--Nav Bar Starts Here-->
  <header class="header_area">
      <div class="main_menu">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="#">JOB PORTAL</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
          
              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                  <div class="mr-auto"></div>
                  <ul class="navbar-nav">
                      <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item item">
                      <a class="nav-link" href="#">About Us</a>
                      </li>
                      <li class="nav-item">
                      <a class="nav-link" href="#">Company Reviews</a>
                      </li>
                      <li class="nav-item">
                      <a class="nav-link" href="#">Blogs</a>
                      </li>
                      
                      <div class="btn-group">
                        <a type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Hello User 
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#!" >Edit Profile</a>
                          <a class="dropdown-item" href="#!">Settings & Privacy</a>
                          <a class="dropdown-item" href="#!" >Logout</a>
                        </div>
                      </div>

                      <div class="custom-control custom-switch" style="margin-top: 10px; margin-left: 10px;">
                        <input type="checkbox" class="custom-control-input" id="darkSwitch">
                        <label class="custom-control-label" for="darkSwitch"></label>
                      </div>
                      <script src="dark-mode/dark-mode-switch.min.js"></script>
                        
                      
                  </ul>
              </div>
          </nav>
      </div>
  </header>
  <!-- Nav Bar Ends Here-->


  <!-- Section (Find Jobs - Search Bar ) Starts Here-->
  <div class="jumbotron jumbotron-fluid ">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 ">
          <img src="images/Resume-bro.png" height="500" width="auto">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 ">
          <h1 class="display-4">Find Jobs Here</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Skills, Locations, Experience etc" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
            </div>
          </div>
        </div>
      </div>       
    </div>
  </div>
  <!-- Section (Find Jobs - Search Bar ) Ends here-->

  <!-- Section "Top companies" starts here-->
  <div class="jumbotron bg-white">
    <h3> Top Companies</h3>
    <div class="row">
      
      <div class="col-sm-3 col-lg-3 col-md-6">
        <div class="card">
          <div class="card-header">Infosys</div>
          <div class="card-body">
            <p>Post:</p>
            <p>Location:</p>
            <p>Experience:</p>
          </div> 
          <a class="card-footer link-text" href="#!">Apply Here</a>
        </div>
      </div>
  
      <div class="col-sm-3 col-lg-3 col-md-6">
        <div class="card">
          <div class="card-header">TCS</div>
          <div class="card-body">
            <p>Post:</p>
            <p>Location:</p>
            <p>Experience:</p>
          </div> 
         <a class="card-footer link-text" href="#!">Apply Here</a>
        </div>
      </div>
  
      <div class="col-sm-3 col-lg-3 col-md-6">
        <div class="card">
          <div class="card-header">WIPRO</div>
          <div class="card-body">
            <p>Post:</p>
            <p>Location:</p>
            <p>Experience:</p>
          </div> 
          <a class="card-footer link-text" href="#!">Apply Here</a>
        </div>
      </div>
      
      <div class="col-sm-3  col-lg-3 col-md-6">
        <div class="card">
          <div class="card-header">GOOGLE</div>
          <div class="card-body">
            <p>Post:</p>
            <p>Location:</p>
            <p>Experience:</p>
          </div> 
          <a class="card-footer link-text" href="#!">Apply Here</a>
        </div>
      </div>
    </div>
  </div>
    
  <!-- Section "Top comapnies" Ends Here-->

  <!-- Section "recent jobs" starts here-->
  
  <div class="jumbotron" >
    <h3> Recent Jobs</h3>
     <div class="row">
      <div class="col-sm-3 col-lg-3 col-md-6">
        <div class="card">
          <div class="card-header">Infosys</div>
          <div class="card-body">
            <p>Post:</p>
            <p>Location:</p>
            <p>Experience:</p>
          </div> 
          <a class="card-footer link-text" href="#!">Apply Here</a>
        </div>
      </div>
  
      <div class="col-sm-3 col-lg-3 col-md-6">
        <div class="card">
          <div class="card-header">TCS</div>
          <div class="card-body">
            <p>Post:</p>
            <p>Location:</p>
            <p>Experience:</p>
          </div> 
         <a class="card-footer link-text" href="#!">Apply Here</a>
        </div>
      </div>
  
      <div class="col-sm-3 col-lg-3 col-md-6">
        <div class="card">
          <div class="card-header">WIPRO</div>
          <div class="card-body">
            <p>Post:</p>
            <p>Location:</p>
            <p>Experience:</p>
          </div> 
          <a class="card-footer link-text" href="#!">Apply Here</a>
        </div>
      </div>
      
      <div class="col-sm-3  col-lg-3 col-md-6">
        <div class="card">
            <div class="card-header">GOOGLE</div>
             <div class="card-body">
                <p>Post:</p>
                <p>Location:</p>
                <p>Experience:</p>
            </div> 
                <a class="card-footer link-text" href="#!">Apply Here</a>
            </div>
        </div>
    </div>
  </div>
  </div>
  
  <!-- Section "Recent Jobs" Ends Here-->

  <!-- Section "Work From Home Jobs"-->
  <div class="jumbotron bg-white">
    <h3> Work From Home Jobs</h3>
    <div class="row">
      
      <div class="col-sm-3 col-lg-3 col-md-6">
        <div class="card">
          <div class="card-header">Infosys</div>
          <div class="card-body">
            <p>Post:</p>
            <p>Location:</p>
            <p>Experience:</p>
          </div> 
          <a class="card-footer link-text" href="#!">Apply Here</a>
        </div>
      </div>
  
      <div class="col-sm-3 col-lg-3 col-md-6">
        <div class="card">
          <div class="card-header">TCS</div>
          <div class="card-body">
            <p>Post:</p>
            <p>Location:</p>
            <p>Experience:</p>
          </div> 
         <a class="card-footer link-text" href="#!">Apply Here</a>
        </div>
      </div>
  
      <div class="col-sm-3 col-lg-3 col-md-6">
        <div class="card">
          <div class="card-header">WIPRO</div>
          <div class="card-body">
            <p>Post:</p>
            <p>Location:</p>
            <p>Experience:</p>
          </div> 
          <a class="card-footer link-text" href="#!">Apply Here</a>
        </div>
      </div>
      
      <div class="col-sm-3  col-lg-3 col-md-6">
        <div class="card">
          <div class="card-header">GOOGLE</div>
          <div class="card-body">
            <p>Post:</p>
            <p>Location:</p>
            <p>Experience:</p>
          </div> 
          <a class="card-footer link-text" href="#!">Apply Here</a>
        </div>
      </div>
    </div>
  </div>
  </div>
    
  <!-- Section "Work From Home Jobs" Ends Here-->

  <!-- Testimonial  Section Starts Here-->
  <div class="jumbotron jumbotron-fluid text-center" style="padding: 20px;">
    <div class="row">
      <!--Testimonial area-->
      <div class="col-lg-6">
        <h1 style="font-size:60px; padding:50px;">Testimonials</h1>
        <p>Resize this responsive page to see the effect!</p> 
        
        <div class=" container text-center">
          <div class="row">
            <div class="col-sm-12 col-lg-6">
              <i class='fas fa-users' style='font-size:48px; padding: 5px;'></i>
                <h3>Verified Jobs</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-12 col-lg-6">
              <i class='fas fa-users' style='font-size:48px; padding: 5px;'></i>
              <h3>Career Advices</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-12 col-lg-6">
              <i class='fas fa-users' style='font-size:48px; padding: 5px;'></i>
              <h3>Effiective</h3>        
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-12 col-lg-6">
              <i class='fas fa-users' style='font-size:48px; padding: 5px;'></i>
              <h3>Effiective</h3>        
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Testimonial ends-->
      <!--Image-->
      <div class="col-lg-6">
        <img src="images/Review.png" width="auto" height="600px">
      </div>  
      <!-- Image Ends-->
    </div>
  </div>   

  <!-- Testimonials  Section Ends here-->

<!-- Stay Updated-->
  <div class="jumbotron bg-white text-center">
         <div class="col">
          <div class="container">
          <h1 class="display-4">Stay Updated!</h1>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter Your Email ID" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Subscribe</button>
            </div>
          </div>
        </div>
      </div>       
    </div>
  </div>
  </div>
<!-- Stay updated ends here -->

  <!-- Footer starts here -->
  <div class="jumbotron jumbotron-fluid text-center">
  <div class="row">
    <div class="col-sm-12 col-lg-3 col-md-6">
      <h3>Information</h3>
      <a class="link-text" href="#!">About Us</a><br>
      <a class="link-text" href="#!">Contact Us</a><br>
      <a class="link-text" href="#!">Terms Of Use</a><br>
      <a class="link-text" href="#!">FAQs</a><br>
    </div>

    <div class="col-sm-12 col-lg-3 col-md-6">
      <h3>Job seekers</h3>
      <a class="link-text" href="#!">Job Search</a><br>
      <a class="link-text" href="#!">Career Advices</a><br>
      <a class="link-text" href="#!">Resume Builder/a><br>
      <a class="link-text" href="#!">Find Companies</a><br>
    </div>

    <div class="col-sm-12 col-lg-3 col-md-6">
      <h3>Employers</h3>        
      <a class="link-text" href="#!">Job Posting</a><br>
      <a class="link-text" href="#!">Advertise With Us</a><br>
      <a class="link-text" href="#!">Access Resumes</a><br>
      <a class="link-text" href="#!">FAQs</a><br>
    </div>
    
    <div class="col-sm-12  col-lg-3 col-md-6">
      <h3>Stay Connected</h3>    
      
      <i class='fab fa-twitter' style='font-size:48px; padding: 5px;'></i>
      <i class='fab fa-linkedin' style='font-size:48px; padding: 5px;'></i>
      <i class='fab fa-google' style='font-size:48px; padding: 5px;'></i>
    </div>
  </div>
</div>
<p class="text-center">@Build With Let's Upgrade</p>
  <!-- Footer Ends Here-->
  
</body>
</html>