<!DOCTYPE html>
<html lang="en">
<head>
  <title>Online Job Portal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <style>
  .material-icons.white600 { color: white; }
  .material-icons.md-48 { font-size: 48px; }
  .material-icons.teal600 { color: teal; }
  
  </style>
    <script>
    $(document).ready(function(){
    $('.sidenav').sidenav();
  });
  </script>
</head>
<body>
<!-- Nav Bar Starts Here-->
 <nav>
    <div class="nav-wrapper teal">
      <a href="#" class="brand-logo" style="margin-left:30px">Job Portal</a>
       <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#">Find a job</a></li>
        <li><a href="#">Company Review</a></li>
        <li><a href="#">Work From Home</a></li>
        <li><a href="#">Blogs</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
</nav>
<!-- Nav Bar Ends Here-->

<!-- Search Bar starts-->
<div class="col s12 ">
    <h4 class="header center-align " style="font-family: 'Quicksand', sans-serif;">Find Genuine Jobs</h4>
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <div class="row">
                    <div class="container">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12 l6">
                                <i class="material-icons prefix">search</i>
                                <input id="icon_search" type="text" class="validate">
                                <label for="icon_search">Designation, Skills, etc.</label>
                            </div>
                            <div class="input-field col s12 l4">
                                <i class="material-icons prefix">location_on</i>
                                <input id="icon_location" type="text" class="validate">
                                <label for="icon_location">Location</label>
                            </div>
                            <div class="btn input-field col s12 l2" >
                            Search
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Serach Bar ends-->

<!-- Page Layout here -->
<div class="container">
    <div class="row ">
        <div class="col s12 m3 l3">
        <!-- Left  navigation panel -->
            <h2 style="font-family: 'Quicksand', sans-serif;">News</h2>
            <div class="divider"></div>
            <div class="section">
                <h5 style="font-family: 'Abel', sans-serif;">Section 1</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <h5 style="font-family: 'Abel', sans-serif;">Section 2</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <h5 style="font-family: 'Abel', sans-serif;">Section 3</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="section right-align">
            <a href="#"> View all </a>

            </div>
            
      </div>

    <div class="col s12 m9 l9">
        <!-- Right Navigation Panel  -->
        <h2 style="font-family: 'Quicksand', sans-serif;">Explore</h2>

        <!-- Recent Jobs section-->
        <div class="divider"></div>
        <div class="section">
            <h5 style="font-family: 'Abel', sans-serif;">Recent Jobs</h5>
            <div class="row">
                <div class="col s12 m4">
                    <div class="card small" style="height:auto; padding:20px;">
                    <!-- Card Content -->
                        <p> Company:</p>
                        <p>Experience:</p>
                        <p>Location: </p>
                    </div>
                </div>
      
                <div class="col s12 m4">
                    <div class="card small" style="height:auto; padding:20px;">
                    <!-- Card Content -->
                        <p> Company:</p>
                        <p>Experience:</p>
                        <p>Location: </p>
                    </div>
                </div>
                             
                <div class="col s12 m4">
                    <div class="card small" style="height:auto; padding:20px;">
                    <!-- Card Content -->
                        <p> Company:</p>
                        <p>Experience:</p>
                        <p>Location: </p>
                    </div>
                </div>
            </div>
        </div>    
        <!-- Work From Home Section-->
        <div class="divider"></div>
        <div class="section">
            <h5 style="font-family: 'Abel', sans-serif;">Work From Home Jobs</h5>
            <div class="row">
                <div class="col s12 m4">
                    <div class="card small" style="height:auto; padding:20px;">
                    <!-- Card Content -->
                        <p> Company:</p>
                        <p>Experience:</p>
                        <p>Location: </p>
                    </div>
                </div>
      
                <div class="col s12 m4">
                    <div class="card small" style="height:auto; padding:20px;">
                    <!-- Card Content -->
                        <p> Company:</p>
                        <p>Experience:</p>
                        <p>Location: </p>
                    </div>
                </div>
                             
                <div class="col s12 m4">
                    <div class="card small" style="height:auto; padding:20px;">
                    <!-- Card Content -->
                        <p> Company:</p>
                        <p>Experience:</p>
                        <p>Location: </p>
                    </div>
                </div>
            </div>
        </div>    
  
     <!--Walk In Jobs Section-->
        <div class="divider"></div>
        <div class="section">
            <h5 style="font-family: 'Abel', sans-serif;">Walk-in Jobs</h5>
            <div class="row">
                <div class="col s12 m4">
                    <div class="card small" style="height:auto; padding:20px;">
                    <!-- Card Content -->
                        <p> Company:</p>
                        <p>Experience:</p>
                        <p>Location: </p>
                    </div>
                </div>
      
                <div class="col s12 m4">
                    <div class="card small" style="height:auto; padding:20px;">
                    <!-- Card Content -->
                        <p> Company:</p>
                        <p>Experience:</p>
                        <p>Location: </p>
                    </div>
                </div>
                             
                <div class="col s12 m4">
                    <div class="card small" style="height:auto; padding:20px;">
                    <!-- Card Content -->
                        <p> Company:</p>
                        <p>Experience:</p>
                        <p>Location: </p>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
<!-- Page Layout ends-->

<!--Testimonials section starts-->
<div class="row center-align">
    <h4> Testimonials </h4> 
    <br>
      <div class="col s12 m4 l4">
       <i class="material-icons prefix md-48">verified</i>
       <h4>Speeds up development</h4>
       <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  </p>
        <!-- Promo Content 1 goes here -->
      </div>
      <div class="col s12 m4 l4">
       <i class="material-icons prefix md-48">verified</i>
       <h4>User Experience Focused</h4>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  </p>
        <!-- Promo Content 2 goes here -->
      </div>
      <div class="col s12 m4 l4">
       <i class="material-icons prefix md-48">verified</i>
       <h4> Easy to work with us</h4>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
        <!-- Promo Content 3 goes here -->
    </div>
</div>
</div>
<!-- Testimonials section ends-->

<!-- Updates-->

<div class="container center-align" >
    <h3>Stay Updated! </h3>
    Enter your Email Id to keep yourself updated with the new job openings.
    <div class="row">
        <form class="col s12 m12 l12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix teal600">email</i>
               <input type="email" class="validate">
                <span class="btn">Subscribe</span>
                <label >Email ID</label>
            </div>
        </div>
        </form>
    </div> 
</div>

<!-- Updtaes end here-->

<!--Footer starts here-->
<div class="page-footer teal center-align">
    <div class="row">
     <div class="col s12 l3 ">
            <h5 class="white-text">Information</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">careers</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Term of Use</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">FAQs</a></li>
            </ul>
        </div>

        <div class="col s12 l3">
            <h5 class="white-text">Job Seekers</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Jobs Search</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Job seekers Login</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Upload Resume</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Career Advice</a></li>
            </ul>
      </div>
    
        <div class="col s12 l3">
            <h5 class="white-text">Employeers</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Employeer Login</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Job Posting</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Advertise with us</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Research Reports</a></li>
            </ul>
        </div>

        <div class="col s12 l3">
            <h5 class="white-text">Stay Connected</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
           </ul>
        </div>
   </div>
</div>
<!-- Footer Ends Here -->


</body>
</html>

