<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .material-icons.white600 { color: white; }
  </style>
</head>
<body>
<!-- Nav Bar Starts Here-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">JOB PORTAL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse mx-5" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <!--Home-->
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    <!-- Find Jobs-->
      <li class="nav-item">
        <a class="nav-link" href="#">Find a Jobs</a>
      </li>
    <!--Company Review -->
      <li class="nav-item">
        <a class="nav-link" href="#">Company Review </a>
      </li>
    <!-- Work From Home-->
      <li class="nav-item">
        <a class="nav-link" href="#">Work From Home </a>
      </li>
    <!-- Blogs-->
      <li class="nav-item">
        <a class="nav-link" href="#">Blogs </a>
      </li>
    
    <!-- More (DropDown)-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    
    </ul>

    <ul class="navbar-nav mr-3">
    <!--Login-->
      <li class="nav-item">
        <a class="nav-link" href="#">Login </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class=" form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
     <i class="material-icons white600 ">search</i>
    </form>
  </div>
</nav>
<!-- Nav Bar Ends Here-->


<!-- Contents part 1 starts here-->
<div class="container">
  <h3>Navbar Forms</h3>
  <p>Use the .navbar-form class to vertically align form elements (same padding as links) inside the navbar.</p>
  <p>The .input-group class is a container to enhance an input by adding an icon, text or a button in front or behind it as a "help text".</p>
  <p>The .input-group-btn class attaches a button next to an input field. This is often used as a search bar:</p>
</div>
<!-- Content part 1 ends here -->

<!-- Contents part 2 starts here-->
<div class="container card my-3 ">
 <h5 class="card-title m-4">Top Companies</h5>
  <div class="card-body">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Content Part 2 ends here -->


<!-- Contents part 3 starts here-->
<div class="container card my-3">
 <h5 class="card-title m-4">Recent Jobs</h5>
  <div class="card-body">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Content Part 3 ends here -->

<!-- Content part 4 (Carousel) starts here-->


<!--Conetnt Part 4 (carousel) -->
<!--Footer starts here-->
<footer>
  <div class="card bg-dark p-5 text-white ">
    <div class="row" >
    <!-- Column 1-->
      <div class="col-sm" >
        <h5>Column 1 </h5>
        <div class="row" >
          <ul> 
            <li> row1 </li>
            <li> row1 </li>
            <li> row1 </li>
          </ul>
        </div>
      </div>
    <!-- Column 1 ends -->  

    <!-- Column 2 -->
      <div class="col-sm">
        <h5>Column 1 </h5>
        <div class="row">
          <ul> 
            <li> row1 </li>
            <li> row1 </li>
            <li> row1 </li>
          </ul>
        </div>
      </div>
    <!-- Cloumn 2 Ends-->

    <!-- Column 3 -->
      <div class="col-sm">
        <h5>Column 1 </h5>
        <div class="row">
          <ul> 
            <li> row1 </li>
            <li> row1 </li>
            <li> row1 </li>
          </ul>
        </div>
      </div>
    <!-- Cloumn 3 Ends-->

    <!-- Column 4 -->
      <div class="col-sm">
        <h5>Column 1 </h5>
        <div class="row">
          <ul> 
            <li> row1 </li>
            <li> row1 </li>
            <li> row1 </li>
          </ul>
        </div>
      </div>
    <!-- Cloumn 4 Ends-->

    
  </div>

  @Lets Upgrade Online Job Portal 
</div>
</footer>

<!-- Footer Ends Here-->
</body>
</html>

