* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;

    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    overflow-wrap: break-word;
    word-break: normal;
}

/* header starts */

header {
    /* background: #2d2d7f !important; */
    background-image: url("https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* main-header start */

[data-target="#mainMenu"] {
    position: relative;
    z-index: 999;
}

#mainMenu li > a {
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 400;
    /* position relative to its previous postion */
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.main-header.fixed-nav #mainMenu li > a {
    color: #fff;
    text-decoration: none;
}

#mainMenu li:not(:last-of-type) {
    margin-right: 30px;
}

#mainMenu li > a::before {
    position: absolute;
    content: "";
    width: calc(100% - 1px);
    height: 1px;
    background: #fff;
    bottom: -6px;
    left: 0;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    z-index: -1;
    -webkit-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}

#mainMenu li > a:hover::before,
#mainMenu li > a.active::before {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

.main-header.fixed-nav #mainMenu li > a::before {
    background: #000;
}

.main-header {
    position: relative;
    left: 0;
    z-index: 99;
    width: 100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.main-header.fixed-nav {
    top: 0;
    background: #fff;
    -webkit-box-shadow: 0 8px 12px -8px rgba(0, 0, 0, 0.09);
    box-shadow: 0 8px 12px -8px rgba(0, 0, 0, 0.09);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}



/* main-header end */

@media (max-width: 991px) {
    /*header starts*/
    .collapse.in {
        display: block !important;
        padding: 0;
        clear: both;
    }
    .navbar-toggler {
        margin: 0;
        padding: 0;
        width: 40px;
        height: 30px;
        position: static;
        margin-top: 10px;
        border: none;
        border-radius: 0;
        outline: none !important;
    }
    .main-header {
        padding-top: 10px;
    }
    .main-header .navbar {
        float: none;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .main-header .navbar-nav {
        margin-top: 50px;
        text-align: initial;
    }
    .main-header .navbar-nav li .nav-link {
        text-align: center;
        padding: 20px 15px;
        border-radius: 0px;
    }
    /**/
    .main-header .navbar-toggler .icon-bar {
        background-color: #fff;
        margin: 0 auto 6px;
        border-radius: 0;
        width: 30px;
        height: 3px;
        position: absolute;
        right: 0;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    .main-header .navbar .navbar-toggler .icon-bar:first-child {
        margin-top: 3px;
    }
    .main-header .navbar-toggler .icon-bar-1 {
        width: 10px;
        top: 0px;
    }
    .main-header .navbar-toggler .icon-bar-2 {
        width: 16px;
        top: 12px;
    }
    .main-header .navbar-toggler .icon-bar-3 {
        width: 20px;
        top: 21px;
    }
    .main-header .current .icon-bar {
        margin-bottom: 5px;
        border-radius: 0;
        display: block;
    }
    .main-header .current .icon-bar-1 {
        width: 18px;
    }
    .main-header .current .icon-bar-2 {
        width: 30px;
    }
    .main-header .current .icon-bar-3 {
        width: 10px;
    }
    .main-header .navbar-toggler:hover .icon-bar {
        background-color: #fff;
    }
    .main-header .navbar-toggler:focus .icon-bar {
        background-color: #fff;
    }
    /*header ends*/
    #mainMenu li {
        width: 200px;
        text-align: left;
        margin-left: 20%;
        margin-bottom: 10px;
    }
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
    margin-left: 50%;
}

/* header ends */


/* footer starts */

.page-footer {
    background: #272727;
}

.icon_name {
    padding-left: 10px;
    cursor: pointer;
}

.icon_name:hover {
    color: #00ff00;
}

.dark-grey-text {
    color: #fff;
}

/* footer ends */

/* Heading Section */

.container{
    margin: 0 auto;
}
.heading{
    margin-top: 5rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    animation: heading 1s 1;
}
.document-pic{
    position: absolute;
    animation: table 1s 1;
}
.input-text{
    margin-top: 1.875rem;
    margin-left: 7.5rem;
    padding: 0.28125rem;
    border-radius: 0.25rem;
    border-width: thin;
    overflow-x: hidden;
    animation: heading 1s 1;
}


/* Table Section */

#Table-1{
    margin-bottom: 0rem;
}
.table-section{
    background-color: white;
     position: relative;
     top:2.5rem;
     z-index: 1;
     overflow-x: hidden;
     animation: table 1s 1;
}

.table-center{
    margin: 0 3.125rem 0 3.125rem;
}
.heading-text{
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.table-text{
    text-align: center;
}
.apply{
    background-color:rgb(51, 51, 51);
    color:whitesmoke;
    border-width: thin;
    border-radius: 0.25rem;
    padding: 0.0625rem 0.25rem;
}

#Noresult{
    display: none;
    animation: table 0s 1;
}
/*Card Section*/

.mobile{
    display: none;
}
.cardinput{
    display: none;
}
#nocard{
    display: none;
}
/* Footer Section */

.footer{
    margin-top: 6.25rem;
}
/*Scroll bar*/

/* width */
::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.3125rem grey; 
    border-radius: 0.9375rem;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:black; 
    border-radius: 32%;
  }

/* Responsive part For Small Screen */

@media screen and (max-width:825px) {
    

    /*Heading for Mobile*/

    .heading{
        margin-top: 5rem;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        animation: heading 1s 1;
    }
    .document-pic{
        position: relative;
        width:100%;
        margin-bottom: 0.25rem;
    }

    /*Card For Mobile View*/

    .mobile{
        display: block;
    }
    .mobile-heading{
        font-weight: 900;
        font-family: 'Montserrat', sans-serif;
    }
    b{
        font-weight: 600;
    }
    td{
        font-size: 1rem;
    }
    .card{
        margin: 0.625rem auto;
        width:70%;
        animation: heading 1s 1;
    }
    .white{
        color:white;
    }
    .table-flow{
        overflow: hidden;
    }
    .input-text{
        margin:0.623rem auto;
    }
    .cardinput{
        display: block;
    }
    #nocard{
        display: none;
        text-align: center;
        margin:2.5rem 3.125rem;
        font-size: 1.5625rem;
        font-family: 'Montserrat', sans-serif;
    }
   /*Hidden Table */

   .Table{
    display: none;
    }
    #inputUser{
        display: none;
    }

    /*Footer Section*/

    .footer{
   margin-top: 3.125rem;
    }

    /*Scroll bar*/

/* width */
::-webkit-scrollbar {
    display: none;
  }
}


/* Animations */

@keyframes heading{
0%{
    opacity: 0;
    margin-right: 6.25rem;
}
100%{
    opacity: 1;
}
}

@keyframes table{
    0%{
        margin-top: 12.5rem;
    }
    
}  