{% extends 'hire_base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="card text-center">
        <div class="card-header">
            <h1>LOGIN</h1>
        </div>
        <div class="card-body">
            <form method="post">
                {%csrf_token%}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary"> Log In </button>

            </form>
            Are you new here? <a href="{% url 'signup' %}">Sign-up.</a> 
        </div>
    </div>
{% endblock content %}